@model Crafter.Models.ApplicationUser

@{
    ViewBag.Title = "Users";
}

<h1>Users</h1>

<img src="@Model.ImageUrl" />

<span>USername: @Model.UserName </span>
<span>Age: @Model.Age </span>
<span>Email: @Model.Email </span>
<span>City: @Model.City </span>
<span>USername: @Model. </span>
<div>
    <h3>About Me:</h3>
    <p>@Model.Description</p>
</div>




