@model Crafter.Models.Tutorial

@{
    ViewBag.Title = Model.Title;
}
<header class="hero-unit">
    <h2>@ViewBag.Title</h2>
    @if (Model.Image != null)
    {
        <img src="@Model.Image" class="img-rounded" />
    }
</header>



<div><strong>Steps:</strong></div>
<div class="accordion" id="accordion2">

    @for (int i = 0; i < Model.Steps.Count(); i++)
    {
        var step = Model.Steps.ElementAt(i);
        
        <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=@("#collapse"+ i)>
                Step @i: @step.Title
            </a>
        </div>

        <div id=@("collapse" + i) class="accordion-body collapse">
            <div class="accordion-inner">
                <img src="@step.Image" alt="no image" />
                <div><strong>Description:</strong></div>
                <div>@step.Content</div>                    
            </div>
        </div>
    </div>        
    }
</div>

<script type="text/javascript">

</script>